 .banner_container{
    background-color: var(--secondary-color);
    color: var(--black-color);
    max-width: 100%;
    padding:10px 0px 12px 0px;
    margin: 0;
    text-align: center;
    font-size: var(--f-size-xxs);
    font-weight: 600;
} 