html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
   
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

input[type=text]{
  border: none;
  border-bottom: 1px solid --dark-grey;
}

:root {
  --primary-color: #e3006e;
  --black-color: rgb(0, 0, 0);
  --secondary-color: #f7cde4;
  --bg-color: rgb(255, 255, 255);
  --light-grey: #e6e6e6;
  --light-grey-tran: #e6e6e68e;
  --dark-grey: #5b5b5b;

  --f-size-xxs: 0.9rem;
  --f-size-xs: 1.1rem;
  --f-size-s: 1.25rem;
  --f-size-m: 1.5rem;


}
