.main_container {
  width: 100%;
  min-height: 100%; 
  padding: 0;
  margin: 0;
}

.img1, .img2, .img3 {
  width: 100%;
  height: 65vh;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}

.img1{
  background-image: url("https://images.pexels.com/photos/6621181/pexels-photo-6621181.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: 50% 65%;
  background-size: 120%;
  position: absolute;
  display: flex;
  justify-content: center;
  filter: contrast(110%);
}

.slogan_box1{
  position: absolute;
  bottom: 12%;
  max-width: 80%;
}

.img2{
  background-image: url("https://images.pexels.com/photos/4041392/pexels-photo-4041392.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: 40% 40%;
  position: absolute;
  display: flex;
  justify-content: flex-start;
  filter: contrast(110%);
}

.slogan_box2{
  position: absolute;
  bottom: 25%;
  left: 10%;
  max-width: 80%;
  min-width: 500px;
}


.img3{
  background-image: url("https://images.pexels.com/photos/6620838/pexels-photo-6620838.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: 50% 65%;
 display: flex;
 justify-content: flex-end; 
 filter: contrast(110%);
}

.slogan_box3{
  position: absolute;
  bottom: 25%;
  right: 10%;
  max-width: 80%;
  min-width: 500px;
 align-items: end;
}

 .slogan, .slogan2, .slogan3{
  font-size: 3rem;
  color: var(--bg-color);
  font-weight: 300;
  margin-bottom: 3rem;
  text-shadow: 2px 1px var(--dark-grey);
} 

.slogan2{
  text-align: left;
  max-width: 500px;
}

.slogan3{
  text-align: right;
  max-width: 500px;
} 
 

 .button{
  background-color: var(--light-grey-tran);
  color: var(--black-color);
  font-size: var(--f-size-xs);
  font-weight: 600;
  padding: 10px 60px;
  border-radius: 5px;
  cursor: pointer;
  max-width: 400px;
  border: 1px solid var(--black-color);
  margin: 0 auto;
  transition: transform 0.5s;
  box-shadow: 2px 2px var(--dark-grey);
} 


.button:hover{ /* doesn`t work   */ 
 transform: translate(2px, 2px);
 box-shadow: 0 1px var(--dark-grey);
}

#button_r{
  float: right;
}
#button_l{
  float: left;
}

.products_container{
    position: relative;
    min-height: 400px;
    background-color: var(--bg-color);
    width: 100%;
} 

.title_div{
    margin: 0 auto;
    padding: 3rem 0 2rem 0; 
    text-align: center;
}
.title_div h2{
    font-size: 2.6rem;
    font-weight: 600;
}

.products_div{
  max-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-flow: wrap;
  justify-items: stretch;
  padding: 0 1rem;
  
}
.prod_box{
 flex: 1 1 auto;
 background-color: var(--bg-color);
 text-align: center;
 padding: 0 0.5%;
}

.prod_box h2{
  font-weight: 600;
  font-size: var(--f-size-s);
  margin-bottom: 2rem;
} 

.img_box{
 
  width: 100%;
  height: 100%;
  min-width: 6.5rem;   /*Check it!   */
  max-width: 400px;
  max-height: 400px;
  border-radius: 10px;
  aspect-ratio: 4/5;
}

#shadows{
  background-image: url("https://images.pexels.com/photos/13019072/pexels-photo-13019072.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: 50% 54%;
  background-size:200%;
  filter: contrast(140%);
  
}
#pencils{
  background-image: url("https://images.pexels.com/photos/8145887/pexels-photo-8145887.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: 20% 20%;
  background-size: 240%;
  filter: contrast(95%);
 
}
#blushes{
  background-image: url("https://images.pexels.com/photos/13002987/pexels-photo-13002987.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: 40% 70%;
  background-size: 160%;
  filter: contrast(125%);
  
}
#lipsticks{
  background-image: url("https://images.pexels.com/photos/4110338/pexels-photo-4110338.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: 50% 50%;
  background-size: 240%;
  filter: contrast(185%);
 
}
#creams{
  background-image: url("https://images.pexels.com/photos/10514763/pexels-photo-10514763.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-position: 40% 60%;
  background-size: 140%;
  filter: contrast(105%);
 
}

.sets_container{
  width:100%;
  position: relative;
  min-height: 500px;
  background-color: var(--bg-color);
  width: 100%;
  padding: 1rem 4rem 0 4em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-evenly;
}
.set_div{
 width: 43%;
 min-width: 400px;
 height: 100%;
}
.img_set{
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 400px;
  min-width: 15%;   /*Check it!   */

  border-radius: 10px;
  margin-bottom: 1rem;
}

#yu_cosm{
  background-image: url("https://d2kq0urxkarztv.cloudfront.net/603ca546f0ade9006af3c6e7/2620320/upload-1d58d09a-ee71-4895-b09f-a95f96f0bc80.jpg?e=webp");
  background-position: 60% 70%;
  background-size: 130%;
}
#ordin_cosm{
  background-image: url("https://www.sephora.com/productimages/product/p479861-av-02-zoom.jpg?imwidth=612");
  background-position: 50% 80%;
  background-size: 140%;
}

#prod_button {
  position: absolute;
  bottom: 10%;
  left: 15%;
}

#prod_button2{
  position: absolute;
  bottom: 10%;
  left: 15%;
}
.video_container{
  position: relative;
  width: 100%;
  height: 80vh;
  min-height: 600px;
  padding: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video_div{
width: 100%;
height: 100%;
padding: 0;
position: relative;
object-fit:cover;
background-position: 50% 30%;
}

.text_video{
  position: absolute;
  bottom: 20%;
  z-index: 10;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.video_text{
  padding: 0 1rem 1rem 1rem;
  color: var(--bg-color);
  font-weight: 400;
}


@media screen and (max-width: 720px) {


.set_div{
  width: 100%;
 
 }
 .text_video{
  padding: 1rem;
}
.slogan{
  padding: 0 4rem;
}

}