.nav_container{    
  display:flex;
  justify-content:space-between;
  align-items: center;
  width: 100vw;
  background-color: var(--background-color);
  color: var(--black-color);
  padding: 1rem;
}

.menu{
    width: 40ch;
    background-color: var(--background-color);
}

.menu ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.menu ul li {
    list-style: none;
}

.search_bar {
    width: 40ch;
    text-align: right;
}

.search_bar input {
    width: 40ch;
    border: none;
    outline: none;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid var(--light-grey);
}

.cart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}